.DS_Store
.idea

.env
.env.backup

.phpunit.result.cache

/node_modules
/vendor

/public/css
/public/favicon
/public/hot
/public/images
/public/js
/public/storage

/storage/*.key

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log
